.body {
  width: 100%;
  height: 100dvh;

  margin: 0;

  display: grid;
  grid-template-rows: minmax(10vh, auto) 1fr minmax(5vh, auto);

  font-family: "Quicksand", sans-serif;
  color: var(--white-soft);
}

/* header */
.header {
  padding-inline: 200px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: var(--black-transparent);
}
.header__logo {
  font-size: 2rem;
  margin: 0;
}
.header__search {
  position: relative;

  display: flex;
  gap: 5px;
}
.header__input {
  width: 100%;
  max-width: 450px;

  padding-inline: 10px;

  border: none;
  outline: none;
  background-color: var(--black-transparent);
  color: var(--white-soft);
}
.header__btn {
  padding: 10px;

  border: none;
  cursor: pointer;
  background-color: var(--black-transparent);
  color: var(--white-soft);
  transition: background-color 0.3s ease, transform 0.3s ease;
}
.header__btn:hover {
  background-color: var(--semi-transparent-white);
  color: var(--black-soft);
}
.header__errorSearch {
  padding: 5px;

  position: absolute;
  top: 70px;
  right: 0;

  opacity: 0;

  color: red;
  background-color: var(--semi-transparent-white);
  border-radius: 10px;

  transition: opacity 0.3s ease;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 10;
}
.header__errorSearch.show {
  opacity: 1;
}
/* main */
.main {
  padding-inline: 200px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.main__infoContainer {
  width: 100%;
  max-width: 1200px;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: minmax(100px, auto) 1fr minmax(100px, auto) minmax(100px, auto);
  gap: 2px;
}
.item {
  background-color: var(--black-transparent);
  padding: 5px;
}
/* name of place */
.main__place {
  grid-column: 1 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__city {
  font-size: 2rem;
}
/* status condition */
.main__statusImg {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
}
.main__icon {
  animation: carousel 10s linear infinite;
  font-size: 10rem;
}
.main__statusText {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}
/* temperature */
.main__temperatureContainer {
  grid-row: 2 / 4;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main__celcius {
  font-size: 3rem;
}
.main__temperature {
  font-size: 7rem;
}
/* date and descriptions */
.main__dateTime {
  grid-column: 1 / 3;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
/* loader */
.loaderContainer {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 10;
  background-color: var(--black-soft);
  display: none;
}
.loader {
  width: 100%;
  height: 100%;
  max-width: 200px;
  max-height: 200px;
  border: 2px solid var(--white-soft);
  border-top: 2px solid var(--black-soft);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

/* footer */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--black-transparent);
}

/* dinamicos */
.body-day {
  background: linear-gradient(
    45deg,
    #1f4e7a,
    #2475a4,
    #2999c7,
    #2ec1e9,
    #4dd8ff,
    #3bc4e6,
    #2ba9d2,
    #2391b7,
    #1d74a3,
    #1f4e7a
  );
  background-size: 10000% 10000%;
  animation: day 20s ease-in-out infinite;
}
.body-night {
  background: linear-gradient(
    45deg,
    #1d1b26,
    #2a2a36,
    #3a3a4a,
    #4c4c63,
    #6a6a7f,
    #4e4e64,
    #3c3c52,
    #2a2a40,
    #202033,
    #1d1b26
  );
  background-size: 10000% 10000%;
  animation: night 20s ease-in-out infinite;
}
.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.5s ease;
}
/* Media queris */

/* Móviles pequeños (<= 576px) */
@media (max-width: 576px) {
  .body {
    width: 100%;
  }
  .header {
    padding-inline: 20px;
    padding-block: 10px;

    flex-direction: column;
    gap: 10px;
  }
  .header__logo {
    font-size: 1.2rem;
  }
  .main {
    padding-inline: 20px;
  }
  .main__infoContainer {
    display: flex;
    flex-direction: column;
  }
  .main__place {
    grid-column: unset;
    order: 1;
  }
  .main__city {
    font-size: 1.2rem;
  }
  .main__statusImg {
    order: 2;
  }
  .main__icon {
    font-size: 5rem;
  }
  .main__temperatureContainer {
    grid-column: unset;
    order: 3;
  }
  .main__statusText {
    order: 4;
    font-size: 1.2rem;
  }
  .main__dateTime {
    grid-column: unset;
    order: 5;
    text-align: center;
  }
  .main__celcius {
    font-size: 2rem;
  }
  .main__temperature {
    font-size: 5rem;
  }
  .loader {
    max-width: 100px;
    max-height: 100px;
  }
}

/* Pantallas grandes (>= 1400px) */
@media (min-width: 1400px) {
  .header {
    padding-inline: 300px;
  }
  .header__logo {
    font-size: 2.5rem;
  }
  .header__search {
    gap: 10px;
  }
  .header__input {
    max-width: 550px;
  }
  .main {
    padding-inline: 300px;
  }
  .main__infoContainer {
    width: 100%;
    max-width: 1800px;
  }
  .item {
    background-color: var(--black-transparent);
    padding: 10px;
  }
  .main__city {
    font-size: 2.5rem;
  }
  .main__icon {
    font-size: 10.5rem;
  }
  .main__statusText {
    font-size: 2rem;
  }
  .main__celcius {
    font-size: 3.5rem;
  }
  .main__temperature {
    font-size: 7.5rem;
  }
}
