.body {
  width: 100vw;
  height: 100vh;
  padding-inline: 10vw;

  display: grid;
  grid-template-rows: 10vh 1fr 5vh;

  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.5;

  color: var(--white-soft);
}
/* header */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.header__logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.header__logo-name {
  margin: 0;
  font-family: "Knewave", cursive;
  font-size: 2rem;
  letter-spacing: 3px;
}
.header__search-form {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.header__input {
  width: 400px;
  padding: 5px;
  border-radius: 10px;
  border: 2px solid var(--white-soft);
  background-color: transparent;
  outline: none;
  background-color: var(--black-transparent);
}
.header__btn {
  padding: 5px;
  border-radius: 10px;
  border: 2px solid var(--white-soft);
  background-color: var(--white-soft);
  cursor: pointer;
}
.header__i {
  color: var(--black-soft);
}
.header__error-container {
  padding: 5px;
  position: absolute;
  top: 40px;
  left: 0px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;

  visibility: hidden;
  opacity: 0;

  border: 2px solid red;
  background-color: var(--white-soft);
  border-radius: 10px;
}
.header__error-form {
  font-size: 1rem;
  color: red;
}
.header__error-container i {
  padding: 5px 12px;

  font-size: 1rem;
  color: red;
  border: 2px solid red;
  border-radius: 50%;
}
/* main */
.main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__info-container {
  padding: 10px;
  width: 800px;
  height: 600px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 3fr 1fr 1fr;
  gap: 2px;

  border-radius: 50px;
  overflow: hidden;
}
.item-grid {
  border-radius: 20px;
  background-color: var(--black-transparent);
  backdrop-filter: blur(10px);
  font-family: "Orbitron", sans-serif;
  font-weight: 400;
}
/* name of place */
.main__place {
  grid-column: 1 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__city {
  font-size: 2rem;
}
/* status condition */
.main__status-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__icon {
  font-size: 10rem;
}
.main__status-text {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__condition {
  font-size: 2rem;
}
/* temperature */
.main__temperature-container {
  padding: 40px;

  grid-row: 2 / 4;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main__celcius {
  padding-inline: 10px;
  font-size: 3rem;
  align-self: flex-start;
}
.main__temperature {
  font-size: 7rem;
}
/* date and descriptions */
.main__date-and-time {
  padding: 10px;
  grid-column: 1 / 3;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: flex-start;
  align-items: center;
}
/* footer */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.temperature-font {
  font-family: "Orbitron", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  color: #ff6f00;
}

/* dinamicos */
.body-day {
  background: var(--day-gradient);
}
.body-night {
  background: var(--night-gradient);
}
.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.5s ease;
}
